
<ul class="list-group">
                <li class="list-group-item">
                  <span class="badge">{{all_count}}</span>
                  <a href="/food/pregnancy">{{_("all foods")}}</a>
                </li>
                <li class="list-group-item">
                  <span class="badge">{{normal_count}}</span>
                  <a href="/food/pregnancy?perm=normal">{{_("normal eat foods")}}</a>
                </li>
                <li class="list-group-item food-perm-less">
                  <span class="badge">{{less_count}}</span>
                  <a href="/food/pregnancy?perm=less">{{_("less eat foods")}}</a>
                </li>
                <li class="list-group-item food-perm-avoid">
                <span class="badge">{{avoid_count}}</span>
                 <a href="/food/pregnancy?perm=avoid">{{_("avoid eat foods")}}</a>
                </li>
</ul>