<div class="profile">
    <div class="pinner">
        <div class="pic">
            <a href="/group/{{group.id}}">
            <img width="48" height="48" src="http://tp4.sinaimg.cn/1728937971/50/5611887641/1"></a>
        </div>
        <div class="info">
            <h3 id="name">{{group.title}}</h3>
            <div style="display: inline-block; position: relative;"><a href="/group/{{group.id}}/follow">{{_("Follow Group")}}</a></div>
            
        </div>
        
    </div>
    <div class="well">
        <p>{{group.description}}</p>
    </div>
</div>
