
{% extends "layout.html" %}

{% block subtitle %}{{ _("Shot") }}{% end %}


{% block content %}


<div class="box-container">
    <div class="box-header">
        <h2>{{ _("New shot") }}</h2> 
    </div>
                <table cellpadding="5" cellspacing="0" border="0">
                    <tbody><tr style="border-top: 0;">
                        
                        <td >
                            <form enctype="multipart/form-data" action="" method="post">
                            {{ xsrf_form_html() }}
                            <table cellpadding="5" cellspacing="0" border="0" >
                                <tbody>
                                    <tr style="border:0;">
                                        <td >
                                        <div>{{_("支持 2MB 以内的图片文件 PNG / GIF / JPG ")}}
                                        </div>
                                    </td></tr>
                                    <tr style="border:0;">
                                    <td width="200" align="left">
                                        <input type="file" name="shot">
                                    </td>
                                </tr>
                                    
                                <tr style="border:0;">
                                    <td width="200" align="left">
                                        <input type="submit" value="上传图片" class="ui-btn">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            </form>
                        </td>
                    </tr>
                    
                </tbody>
                </table>

    <div>
    <a href="/account/setting">{{_("Reback")}}</a>
    </div>                
    </div>


{% end %}

{% block sidebar %}
{% if current_user %}
    {% module ProfileSidebar(current_user) %}
{% end %}
{% end %}

