{% extends "layout.html" %}

{% block subtitle %}{{ _("health food note") }}{% end %}

{% block content %}

<div class="screen clearfix">
    <div class="box-container">
        <div class="">
        <h1>{{xmlday(note.food_time)}}</h1>
        
        <p>{%if note_content and note_content.food%} {{markup(note_content.food)}} {%end%}
        </p>
        </div>
        <div class="food-meta">
            <a href="/people/{{note.people_id}}"><b>{{note.people.username}}</b></a>
            <time class="small">{{xmlday(note.created)}}</time>

            
            {%if current_user and current_user.id == note.people_id %}
            <span class="pull-right"> <a href="/food/note/{{note.id}}/edit" class="gray small">{{_("edit")}}</a> <a href="/food/note/{{note.id}}/analyse" class="gray small">{{_("nutrient analyse")}}</a> </span>

            {%end%}
            
        </div>
    </div>


    

</div>
{% end %}


{%block sidebar %}
{%if current_user%}
{% module ProfileSidebar(current_user) %}
{%end%}

<a href="/food/note/new" data-toggle="modal" class="btn btn-primary">{{ _("new food note") }}</a>
{% end %}


