{% extends "layout.html" %}

{% block title %}{{ _("iOS Play") }}{% end %}

{% block afterstyle %}
<link rel="canonical" href="{{g.siteurl}}/account/signin" />
{% end %}

{% block content %}
<div class="screen clearfix">
    
    {% module ShowFrontTopicChannels() %}
    {% module ShowFrontRecentTopics() %}

</div>
{% end %}

{% block sidebar %}

{%if current_user%}
{% module ProfileSidebar(current_user) %}
{%end%}

{% module RecentNodes()%}

{% module ShowFrontTopicsSidebar() %}

{% end %}
