{% extends "layout.html" %}

{% block subtitle %}{{ _("Topic") }}{% end %}

{% block content %}

    <div class="panel">
        <div class="panel-body">
    <legend>{{_("New Topic")}} <span><a href="/node/{{node.name}}">{{node.title}}</a></span></legend> 
    <form role="form" action="" method="post">
        {{ xsrf_form_html() }}

        
        <div class="form-group">
            <label class="control-label" for="title">{{ _("Title") }}</label>
            <div class="controls">
                <input type="text" class="form-control control-text input-maxlarge" name="title" required value="{{topic.title or ''}}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="content">{{ _("Content") }}</label>
            <div class="controls">
                <textarea class="form-control  control-text input-maxlarge" rows="10" name="content">{{topic.content or ''}}</textarea>
                
            </div>
        </div>

{%if node.anonymous != 0%}
        <div class="form-group">
            <div class="controls">
                <label class="checkbox">
                <input type="checkbox" class="control-text input-maxlarge" name="hidden">
                {{_("Anonymous")}}
                </label>
            </div>
        </div>
{%end%}

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-sm">{{ _("Create New Topic") }}</button>
            <a href="/node/{{node.name}}" ><button type="button" class="btn btn-sm">{{_("Cancel")}}</button></a>
        </div>
        
    </form>
    </div>
</div>
{% end %}


