{% extends "layout.html" %}

{% block subtitle %}{{ _("Topic") }}{% end %}

{% block content %}

<div class="screen clearfix">
    <div class="panel">
        <div class="panel-body">
    <legend>{{_("Edit Topic")}}</legend>
    <form class="" action="" method="post">
        {{ xsrf_form_html() }}

        
        <div class="form-group">
            <label class="control-label" for="title">{{ _("Title") }}</label>
            <div class="controls">
                <input type="text" class="form-control control-text input-xxxlarge" name="title" required value="{{topic.title or ''}}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="content">{{ _("Content") }}</label>
            <div class="controls">
                <textarea class="form-control control-text input-xxxlarge" rows="10" name="content">{{content or ''}}</textarea>
                
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <label class="checkbox">
                <input type="checkbox" class=" control-text input-maxlarge" name="hidden">
                {{_("Anonymous")}}
                </label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-sm">{{ _("Submit") }}</button>
            <a href="/topic/{{topic.id}}" ><button type="button" class="btn btn-sm">{{_("Cancel")}}</button></a>
        </div>

    </form>
    </div>
    </div>

</div>
{% end %}


