<div class="panel">
<ul class="topic-container list-group">
{%for topic in topics %}

<li class="topic-item list-group-item">
    {% if topic.reply_count > 0 %}
    <span class="badge" title="{{topic.reply_count}} {{_("Replies")}}">{{topic.reply_count}}</span>
    {% end %}

    <div class="media margin-top-0">
        {%if topic.anonymous != 0%}
            <img src="{{settings.static_avatar_default}}" class="pull-left media-object" width="48" height="48" title="Anonymous"/>
            {%else%}
            <a href="/{{topic.people.username}}" class="pull-left">
            <img src="{{topic.people.get_avatar(48)}}" class="media-object" width="48" height="48" />
            </a>
        {%end%}

      <div class="media-body">
        <a href="/topic/{{topic.id}}{%if topic.reply_count>50 %}?p={{topic.reply_count/50+1}}{%end%}#r{{topic.reply_count}}" class="media-heading topic-list-title">
            {{markup(topic.title)}}</a>

        <div class="small topic-list-meta">
            <a href="/node/{{topic.node.name}}"><span class="badge">{{topic.node.title}}</span></a> •
            {%if topic.anonymous != 0 %}
                <span>{{_("Anonymous")}}</span> •
            {%else%}
                <a href="/{{topic.people.username}}"><b>{{topic.people.username}}</b></a> •{%end%}
            {% if topic.last_reply_time %}
            <time datetime="{{xmldatetime(topic.last_reply_time)}}" title="replied">{{timesince(topic.last_reply_time, locale.code)}}</time>
            {% else %}
            <time datetime="{{xmldatetime(topic.created)}}" title="created">{{timesince(topic.created, locale.code)}}</time>
            {% end %}
        </div>

      </div>
    </div>

</li>
{%end%}


{%if pagination%}
<li class="topic-item list-group-item">
    <div class="">
    <ul class="pagination">
        {%if pagination.pages> 9%}
        <li class=""><a href="?"><span>|&lt;</span></a></li>
        {%end%}
        {%if pagination.pages> 1%}
        {% for p in pagination.iter_pages() %}
        <li {%if p==pagination.page%}class="active"{%end%}><a href="?p={{p}}" >{{p}}</a></li>
        {% end %}
        {% end %}
        {%if pagination.pages> 9%}
        <li class=""><a href="?p={{pagination.pages}}"><span>&gt;|</span></a></li>
        {%end%}
    </ul>
    </div>
</li>
{%end%}


</ul>
</div>
