{% extends "topic/topic.html" %}

{% block subtitle %}{{escape(topic.title)}}{% end %}

{% block afterstyle %}
<script type="text/javascript" src="{{static_url('assets/js/topic.min.js')}}"></script>
<link rel="canonical" href="{{g.siteurl}}/topic/{{topic.id}}" />

{% end %}

{% block content %}
<div class="screen">

    <ol class="breadcrumb">
      <li><a href="/topic">{{_("Community")}}</a>  </li>
      <li><a href="/node/{{node.name}}">{{node.title}}</a></li>

    </ol>

<!--     <div class="topic-header">
        <a class="btn btn-primary btn-small pull-right" href="/node/{{node.name}}/new">{{_("New Topic")}}</a>
    </div>
 -->
    <div class="topic-container  " data-id="{{topic.id}}">

        <div class="media padding topic">

            <!-- <div class="topic-avatar "> -->
                {%if topic.anonymous != 0%}
                <img src="{{settings.static_avatar_default}}" class="media-object pull-left" width="48" height="48" title="Anonymous"/>
                {%else%}
                <a href="/people/{{topic.people_id}}" class="pull-left avatar "><img src="{{topic.people.get_avatar(48)}}" class="media-object" width="48" height="48" /></a>
                {%end%}
           <!--  </div> -->

            <div class="topic-body media-body">
                <div class="topic-title media-heading">{{markup(topic.title)}}</div>
                <p></p>
                <p>{{topic.content_html}}</p>

                <div class="topic-meta">

                {%if topic.anonymous != 0%}
                    <span class="small">{{_("Anonymous")}}</span>
                    <a href="/topic/{{topic.id}}"><time class="small" title="Created" datetime="{{xmldatetime(topic.created)}}">{{localtime(topic.created)}}</time> </a>
                {%else%}
                    <a href="/people/{{topic.people_id}}"><b>{{topic.people.username}}</b></a>
                    <a href="/topic/{{topic.id}}"><time class="small" title="Created" datetime="{{xmldatetime(topic.created)}}">{{localtime(topic.created)}}</time> </a>
                    {% if is_editable %}
                    <a href="/topic/{{topic.id}}/edit">{{_("Edit")}}</a>
                    {% end %}
                {%end%}

                </div>
            </div>
        </div> <!-- end topic-->


    <div class="reply-items">
        <ul class="list-group">
          <li class="list-group-item list-group-nolrborder">
            <div class="reply-header">
                {% if topic.reply_count and topic.last_reply_time %}
                {{_("Last reply at")}} <time datetime="{{xmldatetime(topic.last_reply_time)}}">{{localtime(topic.last_reply_time)}}</time> |
                {% end %}
                {{topic.reply_count}} {{_("Replies")}}
            </div>
            </li>

            {% set index = 0 %}
            {% for reply in pagination.items %}
            <li id="r{{reply.order}}" class="reply-item list-group-item list-group-nolrborder">
            <div class="reply  media">

                <div class="reply-avatar pull-left" >
                    {%if reply.anonymous != 0%}
                    <img src="{{settings.static_avatar_default}}" class="media-object" width="48" height="48" title="Anonymous"/>
                    {%else%}
                    <a href="/people/{{reply.people_id}}" class="pull-leftx"><img  src="{{reply.people.get_avatar(48)}}" class="media-object" width="48" height="48" /></a>
                    {%end%}
                </div>



                <div class="reply-content media-body hoverable">
                    <div class="reply-meta media-header">
                        {%if reply.anonymous != 0%}
                            <span class="small">{{_("Anonymous")}}</span>
                            <span class="small pull-right">
                                <time datetime="{{xmldatetime(reply.created)}}">{{timesince(reply.created, locale.code)}}</time> #{{reply.order}}
                                <a class="hoverable" data-name="{{_('Anonymous')}}" href="javascript:reply('0');" onclick="replyatwho('#{{reply.order}}L {{_('Anonymous')}}')">{{_("Reply")}}</a>
                            </span>
                        {%else%}
                            <span> <a href="/people/{{reply.people_id}}"><b>{{reply.people.username}}</b> </a>  </span>
                            <span class="small pull-right">
                                <time datetime="{{xmldatetime(reply.created)}}">{{timesince(reply.created, locale.code)}}</time> #{{reply.order}}
                                <a class="hoverable hidding" data-name="{{reply.people.username}}" href="javascript:reply('{{reply.people_id}}');" onclick="replyatwho('#{{reply.order}}L @{{reply.people.username}}')">{{_("Reply")}}</a>
                            </span>
                        {%end%}
                    </div>

                    <p>
                        {{markdown(reply.content)}}
                    </p>
                </div>
            </div>
            </li>
            {% end %}



            {%if pagination%}
            {% if topic.reply_count %}
            {% if pagination.pages > 1%}
            <li class="topic-item list-group-item list-group-nolrborder">
                <div class="">
                <ul class="pagination">
                    {%if pagination.pages> 9%}
                    <li class=""><a href="?"><span>|&lt;</span></a></li>
                    {%end%}
                    {%if pagination.pages> 1%}
                    {% for p in pagination.iter_pages() %}
                    <li {%if p==pagination.page%}class="active"{%end%}><a href="?p={{p}}" >{{p}}</a></li>
                    {% end %}
                    {% end %}
                    {%if pagination.pages> 9%}
                    <li class=""><a href="?p={{pagination.pages}}"><span>&gt;|</span></a></li>
                    {%end%}
                </ul>
                </div>
            </li>
            {%end%}
            {%end%}

            {%end%}


        </ul>
    </div>
</div>

<div class="panel padding">
{% if topic.status == 'close' %}
<div class="box">
    {{ _("Topic is closed") }}
</div>
{% elif current_user %}
<span>{{_("Reply")}}</span><span class="pull-right"><a href="#">{{_("Back To Top")}}</a></span>
<form action="/topic/{{topic.id}}/reply" class="form" method="post">
    {{ xsrf_form_html() }}
    <div id="editor" class="form-group">
        <!--
        <div id="editor-pannel">
            <a href="#" class="js-write current" tabindex="-1">{{ _("Write") }}</a>

            <a href="#" class="js-preview" tabindex="-1">{{ _("Preview") }}</a>

            <a href="#" id="june-upload-button" class="js-upload" tabindex="-1">{{ _("Upload Image") }}</a>
        </div>
        -->
        <div class="control-item" id="editor">
            <textarea  name="content" class="form-control control-text input-maxlarge" rows="5" required></textarea>
        </div>
        {%if node.anonymous != 0%}
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                <input type="checkbox" class="control-text input-maxlarge" name="hidden">
                {{_("Anonymous")}}
                </label>
            </div>
        </div>
        {%end%}
    </div>

    <div class="form-group form-group-last">
            <button type="submit" class="btn btn-primary btn-sm">{{_("Reply")}}</button>
    </div>
</form>
<!-- <input type="file" name="image" accept="image/*" /> -->
{% else %}
<div class="box-header">
    {{_("Want to comment ?")}}
</div>
<div class="box-footer">
    <a href="/account/signin?next=/topic/{{topic.id}}" class="ui-btn js-overlay">{{_("Signin")}}</a>
</div>
{% end %}
</div>



</div>

{% end %}

{% block sidebar %}
{%if current_user%}
{% module ProfileSidebar(current_user) %}
{%end%}

{% module RecentNodes()%}



<div class="box">
    <a class="btn btn-primary pull-left" href="/node/{{node.name}}/new">{{_("New Topic")}}</a>
</div>

{%if current_user and current_user.is_staff %}

<div class="box">
<a href="/admin/topic/{{topic.id}}" class="btn btn-primary btn-small">Admin Edit</a>
</div>
{%end%}

{% end %}


{% block notification %}{% end %}
