<div class="">
<ul class="topic-container list-group">
{%for topic in topics %}

<li class="topic-item list-group-item">
    {% if topic.reply_count > 0 %}
    <span class="badge" title="{{topic.reply_count}} {{_("Replies")}}">{{topic.reply_count}}</span>
    {% end %}

    <div class="media margin-top0">
        {%if topic.anonymous != 0%}
            <img src="{{settings.static_avatar_default}}" class="pull-left media-object" width="48" height="48" title="Anonymous"/>
            {%else%}
            <a href="/people/{{topic.people_id}}" class="pull-left">
            <img src="{{topic.people.get_avatar(48)}}" class="media-object" width="48" height="48" />
            </a>
        {%end%}

      <div class="media-body">
        <a href="/topic/{{topic.id}}" class="media-heading topic-list-title">
            {{simple_escape(topic.title)}}</a>

        <div class="small topic-list-meta">
            <a href="/node/{{topic.node.name}}"><span class="badge">{{topic.node.title}}</span></a> •
            {%if topic.anonymous != 0 %}
                <span>{{_("Anonymous")}}</span> •
            {%else%}
                <a href="/people/{{topic.people_id}}"><b>{{topic.people.username}}</b></a> •{%end%}
            {% if topic.last_reply_time %}
            <time datetime="{{xmldatetime(topic.last_reply_time)}}" title="replied">{{timesince(topic.last_reply_time, locale.code)}}</time>
            {% else %}
            <time datetime="{{xmldatetime(topic.created)}}" title="created">{{timesince(topic.created, locale.code)}}</time>
            {% end %}
        </div>

      </div>
    </div>


    <!-- <div>
        <div class="topic-avatar">
            {%if topic.anonymous != 0%}
            <img src="{{settings.static_avatar_default}}" width="48" height="48" title="Anonymous"/>
            {%else%}
            <a href="/people/{{topic.people_id}}" class="avatar"><img src="{{topic.people.get_avatar(48)}}" width="48" height="48" /></a>
            {%end%}

        </div>

        {% if topic.reply_count > 0 %}
        <span class="reply-count pull-right" title="{{topic.reply_count}} {{_("Replies")}}">{{topic.reply_count}}</span>
        {% end %}
        <div class="content">
            <a class="title" href="/topic/{{topic.id}}">{{simple_escape(topic.title)}}</a>
        </div>
        <a class="title" href="/topic/{{topic.id}}" class="list-group-item-text">
            {{simple_escape(topic.title)}}</a>

        <div class="topic-meta small">
            <a href="/node/{{topic.node.name}}" class="node-cell">{{topic.node.title}}</a> •
            {%if topic.anonymous != 0 %}
                <span>{{_("Anonymous")}}</span> •
            {%else%}
                <a href="/people/{{topic.people_id}}"><b>{{topic.people.username}}</b></a> •{%end%}
            {% if topic.last_reply_time %}
            <time datetime="{{xmldatetime(topic.last_reply_time)}}" title="replied">{{timesince(topic.last_reply_time, locale.code)}}</time>
            {% else %}
            <time datetime="{{xmldatetime(topic.created)}}" title="created">{{timesince(topic.created, locale.code)}}</time>
            {% end %}
        </div>
    </div>   -->
</li>
{%end%}

{%if pagination%}
<li class="topic-item list-group-item">
    <ul class="pagination">
        {% for p in pagination.iter_pages() %}
        <li {%if p==pagination.page%}class="active"{%end%}><a href="?p={{p}}" >{{p}}</a></li>
        {% end %}
    </ul>
</li>
{%end%}
</ul>
</div>
