{% extends "topic/topic.html" %}

{%block title%}{{g.sitename}}{%end%} {%block extra_title %}{%end%}


{% block content %}
<div class="">

    {% module ShowTopicList(pagination=pagination) %}

</div>
{% end %}

{% block sidebar %}

{%if current_user%}
    {% module ProfileSidebar(current_user) %}
    
{%end%}

{% module RecentNodes()%}

{%if current_user and current_user.is_staff%}
<hr class="box-panner"></hr>
<div class="box-container">
<a class="btn btn-primary btn-small" href="/admin/topic/new">{{_("Admin New Topic")}}</a>
</div>
{%end%}

{% end %}
