{% extends "layout.html" %}

{% block subtitle %}{{ _("English") }}{% end %}

{% block content %}

<div class="screen clearfix">

    <table>

    </table>

	<ul>
		{%for c in pagination.items%}
		<li><a href="/admin/english/{{c.id}}">{{c.title}}</a><span class="pull-right"><a href="/admin/english/{{c.id}}/edit">Edit</a></span> 
		</li>
		{%end%}
	</ul>


</div>

{%if pagination%}
<div class="pagination">
    <ul>
        {% for p in pagination.iter_pages() %}
        <li {%if p==pagination.page%}class="active"{%end%}><a href="?p={{p}}" >{{p}}</a></li>
        {% end %}
    </ul>
</div>
{%end%}


{% end %}

{%block sidebar%}


{% end %}


