{% extends "admin/topic/topic.html" %}


{% block subtitle %} Show all topics{% end %}



{% block content %}

{% module ShowTopicList(topics=pagination.items) %}

    {%if pagination%}
    <div >
        <ul class="pagination">
            {% for p in pagination.iter_pages() %}
            <li {%if p==pagination.page%}class="active"{%end%}><a href="?p={{p}}" >{{p}}</a></li>
            {% end %}
        </ul>
    </div>
    {%end%}
    
{% end %}


{% block admin_sidebar %}

{%if current_user and current_user.is_staff%}
<div class="box-container">
<a class="btn btn-primary btn-small" href="/admin/topic/new">{{_("Admin New Topic")}}</a>
</div>
{%end%}

{% end %}


