{% extends "layout.html" %}


{% block content %}



<div class="screen">
    {% module ShowPostList(posts=pagination.items) %}
    {%if pagination%}
    <div class="pagination">
        <ul>
            {% for p in pagination.iter_pages() %}
            <li {%if p==pagination.page%}class="active"{%end%}><a href="?p={{p}}" >{{p}}</a></li>
            {% end %}
        </ul>
    </div>
    {%end%}
</div>
{% end %}

{% block sidebar %}
<div class="box">
    <div class="box-container">
<a class="btn btn-primary btn-small" href="/blog/new">{{_("New Post")}}</a>
</div>
<div class="box-fotter">
    </div>
</div>
{% end %}




