{% extends "layout.html" %}

{% block subtitle%}{{node.title}}{% end %}



{% block content %}
<div class="screen">
    
    <ol class="breadcrumb">
      <li><a href="/topic">{{_("Community")}}</a>  </li>
      <li><a href="/node/{{node.name}}">{{node.title}}</a></li>
    </ol>
    <div class="topic-header">
            <a class="btn btn-primary btn-small pull-right" href="/node/{{node.name}}/new">{{_("New Topic")}}</a>
    </div>



    {% module ShowTopicList(topics=pagination.items) %}


    {%if pagination%}
    <div class="pagination">
        <ul>
            {%if pagination.pages> 5%}
            <li class=""><a href="?"><span>|&lt;</span></a></li>
            {%end%}
            {%if pagination.pages> 1%}
            {% for p in pagination.iter_pages() %}
            <li {%if p==pagination.page%}class="active"{%end%}><a href="?p={{p}}" >{{p}}</a></li>
            {% end %}
            {% end %}
            {%if pagination.pages> 5%}
            <li class=""><a href="?p={{pagination.pages}}"><span>&gt;|</span></a></li>
            {%end%}
        </ul>
    </div>
    {%end%}


</div>
{% end %}

{% block sidebar %}
{%if current_user%}
{% module ProfileSidebar(current_user) %}
{%end%}
<hr class="box-panner"></hr>

<div class="box-container">
    <div class="box-header">
        <b><a href="/node/{{node.id}}">{{node.title}}</a></b>
    </div>
    
    <div class="box-content">
        <p>
            {{markup(node.description)}}
        </p>
    </div>

</div>


{% module RecentNodes()%}
 
{% end %}
