{% extends "layout.html" %}

{% block subtitle %}{{ _("Channel") }}{% end %}

{% block content %}

<div class="row">
    <legend>{{_("Channel")}}</legend>
    <form class="" action="" method="post">
        {{ xsrf_form_html() }}
       {% module ChannelForm(channel) %}

       <div class="form-actions">
            <button type="submit" class="btn btn-small">{{ _("Submit") }}</button>
            <a href="/english" ><button type="button" class="btn btn-small">{{_("Cancel")}}</button></a>
        </div>


    </form>

</div>
{% end %}


