{% extends "layout.html" %}

{% block subtitle %}{{ _("English Channel") }}{% end %}

{% block content %}

<div class="row">
    <legend>{{_("English channel")}}</legend>
    
    <form class="" action="" method="post">
        {{ xsrf_form_html() }}
        {% module ChannelForm(channel) %}

        <div class="form-actions">
            <button type="submit" class="btn btn-small">{{ _("Submit") }}</button>
            <a href="/admin/english/{{channel.id}}" ><button type="button" class="btn btn-small">{{_("Cancel")}}</button></a>
        </div>

         
    </form>

</div>
{% end %}


