{% extends "layout.html" %}

{% block subtitle %}{{ _("Channel") }}{% end %}

{% block content %}

<div class="row">
    <legend>{{channel.title}}</legend>
    <form class="" action="" method="post">
        {{ xsrf_form_html() }}
     
        <div class="control-group">
            <label class="control-label" for="title">{{ _("title") }}</label>
            <div class="controls">
                <input type="text" class="control-text input-xxxlarge" name="title" required value="{{resource.title or ''}}"/>
            </div>
        </div>

       
     
 

        <div class="control-group">
            <label class="control-label" for="description">{{ _("description") }}</label>
            <div class="controls">
            <textarea class="control-text input-xxxlarge" rows="10" name="description"  >{{resource.description or ''}}</textarea>
            </div>
        </div>

         <div class="control-group">
            <label class="control-label" for="category">{{ _("category") }}</label>
            <div class="controls">
                <input type="text" class="control-text input-xxxlarge" name="category"  value="{{resource.category or ''}}"/>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label" for="resource_url">{{ _("resource url") }}</label>
            <div class="controls">
                <input type="text" class="control-text input-xxxlarge" name="resource_url"  value="{{resource.resource_url or ''}}"/>
            </div>
        </div>

       <div class="form-actions">
            <button type="submit" class="btn btn-small">{{ _("Submit") }}</button>
            <a href="/english" ><button type="button" class="btn btn-small">{{_("Cancel")}}</button></a>
        </div>


    </form>

</div>
{% end %}


