{% extends "admin/admin.html" %}

{% block subtitle %}{{ resource.title }}{% end %}



{% block content %}
<div class="screen clearfix">
<h1>{{resource.title}}</h1>

<form class="" action="" method="post" enctype="multipart/form-data">
{{ xsrf_form_html() }}

<div class="control-group">
    <label class="control-label" for="type" >Media Type</label>
    <div class="controls">
        <label class="radio">
        <input name="media_type" type="radio" value="slow" checked>
        {{_("Slow Speed")}}
        </label>
         
        <label class="radio">
        <input name="media_type" type="radio" value="normal">
        {{_("Normal Speed")}}
        </label>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="media">{{ _("media") }}</label>
    <div class="controls">
        <input type="file" class="control-text input-xxxlarge" name="media" placeholder="upload file" required />
    </div>
</div>


<div class="form-actions">
    <button type="submit" class="btn btn-small">{{ _("Upload Mp3") }}</button>
    <a href="/admin/english/resource/{{resource.id}}" ><button type="button" class="btn btn-small">{{_("Cancel")}}</button></a>
</div>

</form>



</div>


{% end %}






