{% extends "layout.html" %}

{% block subtitle %}{{_("Password")}}{% end %}

{% block afterstyle %}
<style type="text/css">

</style>
{% end %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        {{ _("Change Password") }}
    </div>
    <div class="panel-body">
    <form action="" class="form-horizontal ui-box-container" method="post">
        {{ xsrf_form_html() }}
        {% if token %}
        <input type="hidden" name="token" value="{{token}}" />
        {% else %}
        <div class="form-group fm-item fm-required">
            <label for="password" class="col-sm-4 control-label">{{ _("Old Password") }}</label>
            <div class="col-sm-6">
            <input type="password" class="form-control fm-text" name="password" required/>
            </div>
        </div>
        {% end %}
        <div class="form-group fm-item fm-required">
            <label for="password1" class="col-sm-4 control-label">{{ _("New Password") }}</label>
            <div class="col-sm-6">
            <input type="password" class="form-control fm-text" name="password1" required/>
            </div>
            </div>
        <div class="form-group fm-item fm-required">
            <label for="password2" class="col-sm-4 control-label">{{ _("Confirm Password") }}</label>
            <div class="col-sm-6">
            <input type="password" class="form-control fm-text" name="password2" required/>
        </div>
        </div>
        <div class="form-group fm-item fm-required">
            <div class="col-sm-offset-4 col-sm-6">
            <button type="submit" class="btn btn-primary">{{_("Save")}}</button>
            
            
            </div>

        </div>
    </form>
    <div>
        <a href="/account/setting" >{{_("Reback")}}</a>
    </div>
  </div>

</div>
{% end %}

{% block sidebar %}
{% if current_user %}
    {% module ProfileSidebar(current_user) %}
{% end %}
{% end %}
