{% extends "layout.html" %}

{% block subtitle %}{{ _("Signin") }}{% end %}

{% block afterstyle %}
<link rel="canonical" href="{{g.siteurl}}/account/signin" />
{% end %}

{% block content %}
    
<div class="panel clearfix">

    <div class="panel-heading">{{_("Last step, setting username")}}</div>
    <div class="panel-body">
        <form  action="/account/setting/signup/{{social_id}}" method="post">
            {{ xsrf_form_html() }}
            <div class="form-group control-required">
                <label for="username" class="control-label">{{ _("Username") }}</label>
                <div class="controls">
                <input type="text" class="form-control control-text" name="username" maxlength="100" value="{{username}}" required/>
                <div class="control-explain">{{ _("Only English 4-20 chinese or english characters or digits are accepted.") }}</div>
                </div>
            </div>
            

            <!-- <div class="form-group control-required">
                <label for="password1" class="control-label">{{ _("Password") }}</label>
                <div class="controls">
                <input type="password" class="control-text" name="password1" required/>
                </div>
            </div>
            <div class="form-group control-required">
                <label for="password2" class="control-label">{{ _("Confirm Password") }}</label>
                <div class="controls">
                <input type="password" class="control-text" name="password2" required/>
                </div>
            </div> -->

            <div class="form-group">
                <button type="submit" class="btn btn-primary">{{ _("Finish Setting") }}</button>
            </div>

            
        </form>
    </div>

</div>

{% end %}

