{% extends "admin/movie/movie.html" %}

{% block subtitle %}{{ _("movie") }}{% end %}

{% block content %}

<div class="row">
    <legend>{{_("movie")}}</legend>
    <form class="" action="" method="post">
        {{ xsrf_form_html() }}

         <div class="control-group">
            <label class="control-label" for="front_image">{{ _("Movie Front Image") }}</label>
            <div class="controls">
            <textarea class="control-text input-xxxlarge" rows="10" name="front_image" required >{{movie.image.large or ''}}</textarea>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-small">{{ _("Submit Movie") }}</button>
            <a href="/admin/movie/{{movie.id}}" ><button type="button" class="btn btn-small">{{_("Cancel")}}</button></a>
        </div>

         
    </form>

</div>
{% end %}


