{% extends "layout.html" %}

{% block title %}{{ g.sitename }}{% end %}

{% block afterstyle %}
<link rel="canonical" href="{{g.siteurl}}/account/signin" />
{% end %}

{% block content %}
<div class="screen clearfix">

    {% module ShowFrontTopicChannels() %}


  {% module ShowTopicList(pagination=pagination) %}


</div>
{% end %}

{% block sidebar %}

{%if current_user%}
{% module ProfileSidebar(current_user) %}
{%end%}

{% module RecentNodes()%}

{% module ShowFrontTopicsSidebar() %}

{% end %}

{% block afterjs %}
<script type="text/javascript">
$( document ).ready(function() {
  $("#nav-home").addClass("active");
});
</script>
{% end %}

