<!DOCTYPE HTML>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta charset='utf-8'>
      <link rel="shortcut.icon" href="{{g.site_url}}/favicon.ico?v" />

        <title>{%block title%}{%block subtitle%}{%end%} {%block extra_title %}{%end%} | {{g.sitename}}{%end%} </title>
        {%block keywords%}{%end%}
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
        {% block beforestyle %}{% end %}

        <link rel="stylesheet" href="{{static_url('assets/css/vendor.min.css')}}" />
        <link rel="stylesheet" href="{{static_url('assets/css/application.min.css')}}" />
        
        {%if is_mobile%}
        <link rel="stylesheet" href="{{static_url('assets/css/mobile.min.css')}}" />
        {%end%}

        <script type="text/javascript" src="{{static_url('assets/js/vendor.min.js')}}"></script>
        <script type="text/javascript" src="{{static_url('assets/js/application.min.js')}}"></script>
        
        {% block afterstyle %}{% end %}

<script type="text/javascript">
  var logined={%if current_user%}true{%else%}false{%end%};
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?a46a392b493176e834b11202381df186";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
</script>




    </head>
    <body>
       
        {%if is_mobile%}
        <div class="navbar">
           <div class="navbar-inner">
             <div class="container">
              <div class="brand">
               <a href="/">{{g.sitename}}</a>
             </div>
               <div class="nav-collapse" id="main-menu">
                <ul class="nav" id="main-menu-left">
                  <li><a href="/topic">{{_("Community")}}</a></li>
                </ul>

                <ul class="nav pull-right" id="main-menu-right">
                  {% if current_user  %}
                  <li><a href="/people/{{current_user.id}}" >{{current_user.username}}</a></li>
                  <li><a href="/account/signout" class="" rel="nofollow">{{ _("Signout") }}</a></li>
                  {% else %}
                  <li><a href="/account/signin" class="login-nav" rel="nofollow">{{ _("Signin") }}</a></li>
                  <li><a href="/account/signup" class="" rel="nofollow">{{ _("Signup") }}</a></li>
                  {% end %}
                </ul>
               </div>
              
             </div>
           </div>
         </div>
        {%else%}
        
        <div class="navbar">
          <div class="navbar-inner navbar-top">
             <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                 <span class="icon-bar"></span>
               </a>
               <a class="brand" href="/">{{g.sitename}}</a>

               <div class="nav-collapse" id="main-menu">

                <ul class="nav nav-top pull-right" id="main-menu-right">
                  {%block right_menu%} {%end%}
                  {% if current_user  %}
                    <li><a href="/people/{{current_user.id}}">{{current_user.username}}</a></li>

                      <li><a href="/account/signout" class="" rel="nofollow">{{ _("Signout") }}</a></li>
                  {% else %}
                      <li><a href="/account/signin" class="login-nav" rel="nofollow">{{ _("Signin") }}</a></li>
                      <li><a href="/account/signup" class="" rel="nofollow">{{ _("Signup") }}</a></li>
                      
                  {% end %}
                </ul>
               </div>


             </div>
          </div>

          <div class="navbar-inner">
             <div class="container">
               <div class="nav-collapse" id="main-menu">
                <ul class="nav" id="main-menu-left">
                  <li><a href="/" >{{_("Home")}}</a></li>
                  <li><a href="/topic">{{_("Community")}}</a></li>
                </ul>
               </div>
             </div>
           </div>
         </div>

        {%end%}

    
      {% set msgs = messages() %}
      {% if len(msgs) > 0 %}
        <div class="container">
          
            {% for type, message in msgs %}
              <div class="alert alert-{{type}}">
              <a class="close" href="" data-dismiss="alert">×</a>
              <span>
                 {{ _(message) }} 
                </span>
            </div>
            {% end %}
            
        </div>
        
      {% end %}
                
                {% block container%}
                <div class="container">
                  
                    {% block header %}{% end %}  
                  
                    <div class="main pull-left">
                    {% block content %}{% end %}
                    </div>

                    <div class="sidebar">
                    {% block sidebar %}
                    {% end %}
                    </div>
                  
                </div>
                {%end%}

<div class="footer">
  <div class="container">
  </div> 

  <div class="copyright">
    <div class="container">
        <div>
          &copy;2013  <a href="{{g.site_url}}"><b>{{g.sitename}}</b></a>&nbsp;&nbsp;Powered by <a href="https://github.com/feilaoda/ChatUp"><b>ChatUp</a> 
          &nbsp;&nbsp;<a href="/about">{{_("about")}}</a>
        </div>
    </div>
  </div>
  
</div>

{% block afterjs %}
{% end %}
                
{%block bottom%}{%end%}


 
    </body>
</html>
