<div class="box-container">
    <div class="box-header">
        <a href="/food/note">最新饮食日记</a>
    </div>
    <div class="box-content">
        <ul>
            {%for note in food_notes%}
            <li>
                {{xmlday(note.food_time)}} <a href="/food/note/{{note.id}}">{{simple_escape(note.content.food[:60])}}</a>
            </li>
            {%end%}
        </ul>
    </div>
    <div class="box-footer">
        <span ><a  href="/food/note">更多...</a></span>
    </div>
</div>