{% extends "admin/topic/topic.html" %}

{% block subtitle %}{{escape(topic.title)}}{% end %}

{% block afterstyle %}
<script type="text/javascript" src="{{static_url('assets/js/topic.min.js')}}"></script>
<link rel="canonical" href="{{g.siteurl}}/topic/{{topic.id}}" />

{% end %}

{% block content %}
<div class="screen">
    <div class="topic-header">
        <a href="/node/{{node.name}}" class="node-cell">{{node.title}}</a>
    </div>

<div class="topic-container" data-id="{{topic.id}}">
    <div class="topic-title">
          <h1>  {{markup(topic.title)}} </h1>
    </div>
    <div class="topic">

        <div class="topic-avatar">
            <a href="/people/{{topic.people_id}}" class="avatar"><img src="{{topic.people.get_avatar(48)}}" width="48" height="48" /></a>
        </div>
        
        <div class="topic-content">
            <p>{{markup(topic.content)}}</p>
        </div>

         <div class="topic-meta">
            <a href="/people/{{topic.people_id}}"><b>{{topic.people.nickname}}</b></a>
            {%if topic.hidden == "y"%}
                    <span class="small">({{_("Anonymous")}})</span>
            {%end%}

            <a href="/topic/{{topic.id}}"><time class="small" title="Created" datetime="{{xmldatetime(topic.created)}}">{{localtime(topic.created)}}</time> </a>
            {% if current_user.is_admin %}
            <a href="/admin/topic/{{topic.id}}/edit">{{_("Edit")}}</a>
            <a href="/admin/topic/{{topic.id}}/delete" onClick="return  confirm('{{_('sure delete this topic?')}}');">{{_("Delete")}}</a>
            {% end %}
            
        </div>

    </div>
    
   
</div>

<div class="reply-container">
    <div class="reply-header">
        {% if topic.reply_count and topic.last_reply_time %}
        {{_("Last reply at")}} <time datetime="{{xmldatetime(topic.last_reply_time)}}">{{localtime(topic.last_reply_time)}}</time> |
        {% end %}
        {{topic.reply_count}} {{_("Replies")}} 
        <!-- |
        {{topic.hits}} {{_("Hits")}} -->
    </div>
    <div class="reply-items">
    <ul>
    {% set index = 0 %}
    {% for reply in pagination.items %}
    <li id="reply-{{reply.id}}" class="reply-item  clearfix">
    <div class="reply hoverable">
        
        <div class="reply-avatar" >
            <a href="/people/{{reply.people_id}}"><img  src="{{reply.people.get_avatar(48)}}" width="48" height="48" /></a>
        </div>

        <div class="reply-content">

            <div class="reply-meta">
                

                <a href="/people/{{reply.people_id}}">{{reply.people.nickname}}</a>
                {%if reply.hidden == "y"%}
                    <span class="small">({{_("Anonymous")}})</span>
                {%end%}

                <span class="small pull-right">

                    <a class="hoverable" data-name="{{reply.people.username}}" href="/admin/topic/{{topic.id}}/reply/{{reply.id}}/delete" onClick="return  confirm('{{_('sure delete this reply?')}}');"  target="_blank">{{_("Delete")}}</a>
                    
                    <time datetime="{{xmldatetime(reply.created)}}">{{timesince(reply.created, locale.code)}}</time> #{{reply.order}} 
                    <a class="hoverable" data-name="{{reply.people.username}}" href="javascript:reply('{{reply.people_id}}');" onclick="replyatwho('{{reply.people.username}}')">{{_("Reply")}}</a>

                    

                </span>
            </div>
            <p>
                {{markup(reply.content)}}
            </p>
        </div>
    </div>
    </li>
    {% end %}

    </ul>
    </div>
    {% if topic.reply_count %}
    {% if pagination.pages > 1%}
    <div class="box-footer pagination">
        {% for p in pagination.iter_pages() %}
        <a href="?p={{p}}">{{p}}</a>
        {% end %}
    </div>
    {%end%}
    
    {% end %}
</div>

<div class="box-container">
{% if topic.status == 'close' %}
<div class="box">
    {{ _("Topic is closed") }}
</div>
{% elif current_user %}
<span>回复</span><span class="pull-right"><a href="#">Top</a></span>
<form action="/admin/topic/{{topic.id}}/reply" class="ui-box-container" method="post">
    {{ xsrf_form_html() }}
    <div id="editor">
        
        <div class="control-group">
            <label class="control-label" for="people">{{ _("people") }}</label>
            <div class="controls">
                <select name="people_id">
                    {%for user in peoples%}
                    <option value="{{user.id}}">{{user.nickname}} (@{{user.username}}) {{markup(user.description)}}</option>
                    {%end%}
                </select>
            </div>
        </div>

        <div class="control-item" id="editor">
            <textarea  name="content" class="control-text input-maxlarge" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">{{_("Post")}}</button>
    </div>
</form>
<!-- <input type="file" name="image" accept="image/*" /> -->
{% else %}
<div class="box-header">
    {{_("Want to comment ?")}}
</div>
<div class="box-footer">
    <a href="/account/signin?next=/topic/{{topic.id}}" class="ui-btn js-overlay">{{_("Signin")}}</a>
</div>
{% end %}
</div>


</div>
{% end %}

{% block sidebar %}

{% module RecentNodes()%}

{% end %}

{% block afterjs %}


{% end %}



       

{% block notification %}{% end %}
