<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <title>Finance Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width">
    
    <link rel="stylesheet" href="/static/stylesheets/flotr.css" type="text/css" />
    <link rel="stylesheet" href="/static/stylesheets/finance.css" type="text/css" />
    <link rel="stylesheet" href="/static/stylesheets/timeseries.css" type="text/css" />

    <script type="text/javascript" src="/static/javascripts/yepnope.js"></script>
    <script src="/static/javascripts/jquery/jquery-1.7.1.min.js"></script>
    <script src="/static/javascripts/flotr2/flotr2.min.js"></script>
    <script src="/static/javascripts/flotr2/js/plugins/handles.js"></script>
    <script src="/static/javascripts/bonzo/bonzo.min.js"></script>
    <script src="/static/javascripts/envision.min.js"></script>


</head>

<body>
  <div id="content">
    <h3>Finance Demo:</h3>
    <div id="charts"></div>
    
  </div>
  <script type="text/javascript" src="/static/javascripts/data.js"></script>

    <script type="text/javascript" src="/static/javascripts/bitcoinfinance.js"></script>
    <script type="text/javascript" src="/static/javascripts/timefinance.js"></script>
      <script type="text/javascript" src="/static/javascripts/includes.build.js"></script> 

 
     <script type="text/javascript" src="/static/javascripts/includes.build.js"></script> 

  <script type="text/javascript">
  // (function(){
  //   financechart();
  // });

  </script>
</body>
</html>



