{% extends "layout.html" %}

{% block subtitle %}{{escape(post.title)}}{% end %}

{% block afterstyle %}
<script type="text/javascript" src="{{static_url('assets/js/topic.min.js')}}"></script>
<link rel="canonical" href="{{g.siteurl}}/blog/{{post.id}}" />

{% end %}

{% block content %}
<div class="screen">



<div class="topic-container" data-id="{{post.id}}">
    
    <div class="topic">
        <div class="topic-avatar">
            <a href="/people/{{post.people_id}}" class="avatar"><img src="{{post.people.get_avatar(48)}}" width="48" height="48" /></a>
        </div>
        
        
        <div class="topic-content">
            {{markup(post.title)}}
            <p></p><p>
            {{markup(post.content)}}
            </p>
         
        </div>

        
    </div>
    
    <div class="box-footer">
        <div class="topic-meta">
            <a href="/people/{{post.people_id}}"><b>{{post.people.username}}</b></a>
            <time class="small" title="Created" datetime="{{xmldatetime(post.created)}}">{{localtime(post.created)}}</time> 
            {% if current_user and current_user.id == post.people_id %}
            <a href="/blog/{{post.id}}/edit">{{_("Edit")}}</a>
            {% end %}
            
        </div>

    </div>
</div>

<div class="reply-container">
    <div class="reply-header">
        {% if post.reply_count and post.last_reply_time %}
        {{_("Last reply at")}} <time datetime="{{xmldatetime(post.last_reply_time)}}">{{localtime(post.last_reply_time)}}</time> |
        {% end %}
        {{post.reply_count}} {{_("Replies")}} 
        
    </div>
    <div class="reply-items">
    <ul>
    {% set index = 0 %}
    {% for reply in pagination.items %}
    {% set index += 1 %}
    <li class="reply-item  clearfix">
    <div id="reply-{{index}}" class="reply hoverable">
        
        <div class="reply-avatar" >
            <a href="/people/{{reply.people_id}}"><img  src="{{reply.people.get_avatar(48)}}" width="48" height="48" /></a>
        </div>

        <div class="reply-content">
            <div class="reply-meta">
                <a href="/people/{{reply.people_id}}"><b>{{reply.people.username}}</b></a>
                <span class="small pull-right">
                    <time datetime="{{xmldatetime(reply.created)}}">{{timesince(reply.created, locale.code)}}</time> #{{index}} 
                    <a class="hoverable" data-name="{{reply.people.username}}" href="javascript:;" onclick="replyatwho('{{reply.people.username}}')">{{_("Reply")}}</a>
                </span>
            </div>
            <p>
                {{markup(reply.content)}}
            </p>
        </div>
    </div>
    </li>
    {% end %}

    </ul>
    </div>
    {% if post.reply_count %}
    {% if pagination.pages > 1%}
    <div class="box-footer pagination">
        {% for p in pagination.iter_pages() %}
        <a href="?p={{p}}">{{p}}</a>
        {% end %}
    </div>
    {%end%}
    
    {% end %}
</div>

<div class="box">
{% if current_user %}
<h3>回复</h3><div class="pull-right"><a href="#">Top</a></div>
<form action="/blog/{{post.id}}/reply" class="ui-box-container" method="post">
    {{ xsrf_form_html() }}
    <div id="editor">
        
        <div class="control-item" id="editor">
            <textarea  name="content" class="control-text input-xxxlarge" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">{{_("Post")}}</button>
    </div>
</form>
{% else %}
<div class="box-container">
    {{_("Want to comment ?")}}
</div>
<div class="box-footer">
    <a href="/account/signin?next=/blog/{{post.id}}" class="ui-btn js-overlay">{{_("Signin")}}</a>
</div>
{% end %}
</div>


</div>
{% end %}

{% block sidebar %}





{% end %}

{% block afterjs %}


{% end %}



       

{% block notification %}{% end %}
