{% extends "layout.html" %}


{% block container %}
 

<div class="page-header">
  <h1>Group</h1>
    <div class="table-responsive">
        <table class="table table-hover">
        {%set rowid=1%}
        {%for channel in channels%}
           <tr><td><a href="/wepusher/channel/{{channel.id}}">#{{rowid}}</a></td>
            <td><a href="/wepusher/channel/{{channel.id}}">{{markup(channel.title)}}</a></td>
          </tr>
        {%set rowid=rowid+1%}
        {%end%}
        </table>
    </div>
</div>





{%end%}


{%block sidebar%}



{%end%}

