{% extends "layout.html" %}

{% block subtitle%}{{node.title}}{% end %}



{% block content %}
<div class="screen">

    <ol class="breadcrumb">
      <li><a href="/topic">{{_("Community")}}</a>  </li>
      <li><a href="/node/{{node.name}}">{{node.title}}</a></li>
    </ol>
    <div class="topic-header">
            <a class="btn btn-primary btn-small pull-right" href="/node/{{node.name}}/new">{{_("New Topic")}}</a>
    </div>



    {% module ShowTopicList(pagination=pagination) %}


    {%if pagination%}
    <div class="pagination">
        <ul>
            {%if pagination.pages> 5%}
            <li class=""><a href="?"><span>|&lt;</span></a></li>
            {%end%}
            {%if pagination.pages> 1%}
            {% for p in pagination.iter_pages() %}
            <li {%if p==pagination.page%}class="active"{%end%}><a href="?p={{p}}" >{{p}}</a></li>
            {% end %}
            {% end %}
            {%if pagination.pages> 5%}
            <li class=""><a href="?p={{pagination.pages}}"><span>&gt;|</span></a></li>
            {%end%}
        </ul>
    </div>
    {%end%}

<div class="panel">
    <div class="panel-body">
<form role="form" action="/node/{{node.name}}/new" method="post">
        {{ xsrf_form_html() }}

        
        <div class="form-group">
            <!-- <label class="control-label" for="title">{{ _("Title") }}</label> -->
            <div class="controls">
                <input type="text" class="form-control control-text input-maxlarge" name="title" required value="" placeholder="{{ _('Title') }}"/>
            </div>
        </div>

        <div class="form-group">
            <!-- <label class="control-label" for="content">{{ _("Content") }}</label> -->
            <div class="controls">
                <textarea class="form-control  control-text input-maxlarge" rows="5" name="content"></textarea>
            </div>
        </div>

{%if node.anonymous != 0%}
        <div class="form-group">
            <div class="controls">
                <label class="checkbox">
                <input type="checkbox" class="control-text input-maxlarge" name="hidden">
                {{_("Anonymous")}}
                </label>
            </div>
        </div>
{%end%}

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-sm">{{ _("Create New Topic") }}</button>
        </div>
        
    </form>
</div>
</div>
</div>
{% end %}

{% block sidebar %}
{%if current_user%}
{% module ProfileSidebar(current_user) %}
{%end%}
<hr class="box-panner"></hr>

<div class="panel padding">

    <div class="box-content">
        <p>
            {{markup(node.description)}}
        </p>
    </div>

</div>


{% module RecentNodes()%}

{% end %}
