<div class="profile">
    <div class="media">
        <a class="pull-left" href="/people/{{people.id}}" >
            <img width="48" height="48" src="/static/assets/images/profile.png"></a>
        {%if current_user is None or (people and people.id != current_user.id)%}
        {%set is_master = False%}
        {%else%}{%set is_master = True%}
        {%end%}
        <h3 id="name"><a href="/people/{{people.id}}">{{people.username}}</a></h3>
        <div class="profile-menu">
            <ul >
                <li><a href="/people/{{people.id}}">{{_("mine")}}</a></li>
                <li><a href="/people/{{people.id}}/movie/wishes">{{_("wish watch")}}</a></li>
                <li><a href="/people/{{people.id}}/movie/watched">{{_("watched")}}</a></li>
                <li><a href="/people/{{people.id}}/boards">{{_("board")}}</a></li>
                {%if is_master%}<li><a href="/people/{{people.id}}/links">{{_("link")}}</a></li>{%end%}
                <!-- <li><a href="/people/{{people.id}}/resources">{{_("resource")}}</a></li> -->
                <!-- <li><a href="/people/{{people.id}}/photos">{{_("Photo")}}</a></li> -->
                <!-- <li><a href="/people/{{people.id}}#groups">{{_("group")}}</a></li> -->
            </ul>
        </div>
      </div>
</div>



